@import "colors";
@import "mixins";

#champStats {
	position: relative;
	// grow to fill available space
	.FlexChild();
	overflow-x: auto;
	#champStatsFilter {
		box-sizing: border-box;
		border-bottom: 1px solid @grey400;
		padding: 8px;
		div {
			display: inline-block;
			vertical-align: top;
		}
		.champStatsInput {
			background-color: @grey200;
			height: 24px;
			width: 224px;		//224 currently looks best with the 3 buttons
			box-sizing: border-box;
			padding: 4px;
			border: 1px solid @grey400;
			margin-right: 8px;
			margin-top: 8px;
			border-radius: 2px;
		}
		.sortGroup {
			line-height: 24px;
			height: 24px;
			margin-top: 8px;
			.label {
				margin-right: 4px;
			}
			.button {
				// space on either side
				margin: 0px 2px;
				// TODO: this color scheme is somewhat unfortunate...
				background-color: @blueGrey100;
				&.active {
					box-shadow: 0 0 0 0 !important;
					background-color: @cyan300;
					color: white;
					cursor: default !important;
				}
			}
		}
	}
	#champStatsResults {
		// use defaults + add in wrap property and space around
		.Flex(space-around, row, stretch, felx-start, wrap);
		.champItem {
			// can't grow, can't shrink
			.FlexChild(0,0,0);
			margin: 2px;
			font-size: 0;		//stupid inline blocks
			background-color: @blueGrey800;
			cursor: pointer;
			&:hover {
				background-color: @blueGrey600;
			}
			.champPic {
				img {
					width: 96px;
					height: 96px;
				}
			}
			.champInfo {
				text-align: center;
				margin-left: 4px;
				.name {
					font-size: 13px;
					line-height: 16px;
					color: white;
				}
			}
		}
	}
}