@import "mixins";
@import "colors";

#currentGame.inGame {
	// Need to absolute position controls
	position: relative;
	.Flex();
	.gameControlsContainer {
		position: absolute;
		left: 10%;
		right: 10%;
		text-align: center;
		font-size: 0;			//I hate you inline blocks
		
		.gameControls {
			height: 40px;
			display: inline-block;
			box-sizing: border-box;
			background-color: @blueGrey400;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			color: white;
			line-height: 24px;
			padding: 8px 24px;
			div {
				display: inline-block;
				vertical-align: top;
			}
			.timeControls {

				.gameClock {
					font-size: 20px;
				}
				.control {
					font-weight: 600;
					font-size: 24px;
					padding: 0px 8px;
					cursor: pointer;
					&:hover {
						color: @cyan300;
					}
				}
			}
			.verticalSeparator {
				width: 1px;
				height: 24px;
				margin-left: 3px;
				margin-right: 4px;
				background-color: @blueGrey100;
			}
			.buttons {
				.reroll {
					// 3px above + 1px border = 4px
					margin-top: 3px;
					margin-left: 8px;
					margin-right: 8px;
					height: 18px;
					width: 18px;
					box-sizing: border-box;
					border: 1px solid white;
					border-radius: 2px;
					position: relative;
					cursor: pointer;
					&:hover {
						color: @cyan300;
						border-color: @cyan300;
					}
					&:before {
						font-size: 13px;
						position: absolute;
						content: "\2022\2022\2022";
						top: 0px;
						left: 0;
						width: 16px;
						line-height: 8px;
					}
					&:after {
						font-size: 13px;
						position: absolute;
						content: "\2022\2022\2022";
						bottom: 1px;
						left: 0;
						width: 16px;
						line-height: 8px;
												   
					}
				}
				.close {
					// 'Times' buttons do not align well with other text
					// Gonna settle for a 'I guess this looks good'
					margin-left: 8px;
					font-size: 32px;
					cursor: pointer;
					padding-right: 8px;
					&:hover {
						color: @cyan300;
					}
				}
			}

		}
	}
	.team {
		// can grow, can't shrink
		.FlexChild(0, 1, 0);
		&.my {
			.Flex(flex-start, column);
		}
		&.enemy {
			.Flex(flex-start, column, stretch, flex-end);
		}
		max-width: 50%;
		margin-top: 48px;
	}

	.champCard {
		margin: 8px;
		padding: 8px;
		width: 256px;
		max-width: 256px;
		.zdepth2();
		background-color: @grey200;
		// stretch on cross axis (i.e 100% width in this instance)
		.Flex(flex-start, column, stretch, space-around);
		.top {
			.FlexChild();
			.Flex();
			.champPic {
				// can't grow, can't shrink
				.FlexChild(0, 0, 0);
				height: 56px;
				width: 56px;
				img {
					height: 100%;
					width: 100%;
				}
			}
			.stats {
				.FlexChild();
				text-align: center;
				.name {
					font-size: 13px;
					font-weight: 600;
					line-height: 16px;
					text-decoration: underline;
				}
				.currentOdds {
					font-size: 28px;
					line-height: 32px;
					
				}
			}
		}
		.bottom {
			.FlexChild();
			margin-top: 8px;
			overflow: hidden;
			height: 56px;
			position: relative;
			.chartContainer {
				// Create a container for the chart that will cut off the left
				// 10 pixels and the bottom 4 pixels while still allowing it to
				// grow and shrink
				position: absolute;
				left: -10px;
				right: 0px;
				top: 0px;
				bottom: -4px;
			}
			.chart {
				height: 100% !important;
			}
		}
	}
}

#currentGame.notInGame {
	.Flex(center, row, stretch, center);
	.msgbox {
		margin-top: 80px;
		// can grow, can't shrink
		.FlexChild(0, 1, 0);
		max-width :480px;
		background-color: @grey200;
		padding: 16px;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid @grey500;
		.message {

		}
		.buttonRow {
			margin-top: 16px;
			.Flex(space-around);
			.button {
				// can grow, can't shrink, base size of buttons: 48px
				.FlexChild(0, 1, 0, 48px);
				margin: 0px 8px;
				&.checkNow {
					background-color: @green500;
				}
				&.simulateGame {
					background-color: white;
				}
			}
		}
	}
	
}