@import "mixins";
@import "colors";

#currentGame.inGame {
	// Need to absolute position controls
	position: relative;
	.Flex();
	@media (max-width: 800px) {
		.Flex(flex-start, column);
		.teamSeparator {
			display: none;
		}
		.team {
			width: 100%;
			max-width: 450px !important;
		}
		.my.team {
			order: 2;
		}
		.gameControlsContainer {
			top: 970px !important;
		}
		
	}
	@media (max-width: 400px) {
		.bottom {
			width: 50% !important;
		}
		.chartHeader {
			width: 50% !important;
		}
	}
	.gameControlsContainer {
		position: absolute;
		top: 476px;
		left: 10%;
		right: 10%;
		text-align: center;
		font-size: 0;			//I hate you inline blocks
		
		.gameControls {
			height: 40px;
			display: inline-block;
			box-sizing: border-box;
			background-color: @blueGrey400;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			color: white;
			line-height: 24px;
			padding: 8px 24px;
			div {
				display: inline-block;
				vertical-align: top;
			}
			.timeControls {

				.gameClock {
					font-size: 20px;
				}
				.control {
					font-weight: 600;
					font-size: 24px;
					padding: 0px 8px;
					cursor: pointer;
					&:hover {
						color: @cyan300;
					}
				}
			}
			.verticalSeparator {
				width: 1px;
				height: 24px;
				margin-left: 3px;
				margin-right: 4px;
				background-color: @blueGrey100;
			}
			.buttons {
				.reroll {
					// 3px above + 1px border = 4px
					margin-top: 3px;
					margin-left: 8px;
					margin-right: 8px;
					height: 18px;
					width: 18px;
					box-sizing: border-box;
					border: 1px solid white;
					border-radius: 2px;
					position: relative;
					cursor: pointer;
					&:hover {
						color: @cyan300;
						border-color: @cyan300;
					}
					&:before {
						font-size: 13px;
						position: absolute;
						content: "\2022\2022\2022";
						top: 0px;
						left: 0;
						width: 16px;
						line-height: 8px;
					}
					&:after {
						font-size: 13px;
						position: absolute;
						content: "\2022\2022\2022";
						bottom: 1px;
						left: 0;
						width: 16px;
						line-height: 8px;
												   
					}
				}
				.close {
					// 'Times' buttons do not align well with other text
					// Gonna settle for a 'I guess this looks good'
					margin-left: 8px;
					font-size: 32px;
					cursor: pointer;
					padding-right: 8px;
					&:hover {
						color: @cyan300;
					}
				}
			}

		}
	}
	.teamSeparator {
		width: 1px;
		// 5 cards * 88px (champ card height)
		height: 476px;
		background-color: @grey500;
	}
	.team {
		// can grow, can't shrink
		.FlexChild(0, 1, 0);
		&.my {
			.Flex(flex-start, column);
			// name needs to offset by picture size for 'my' team
			.champCard .name {
				padding-right: 72px;
			}
		}
		&.enemy {
			.Flex(flex-start, column, stretch, flex-end);
			// name needs to be offset by picture size for enemy team
			.champCard .name {
				padding-left: 72px;
			}
		}
		max-width: 50%;
		// margin-top: 48px;
	}

	.enemy.team .teamHeader {
		.chartHeader {
			color: @indigo500;
			text-align: right;
		}
		.currentHeader {
			text-align: center;;
		}
		
	}
	.my.team .teamHeader {
		.chartHeader {
			text-align: left;
		}
		.currentHeader {
			text-align: center;
		}
	}
	.teamHeader {
		.Flex();
		padding: 8px 8px 7px 8px;
		border-bottom: 1px solid black;
		width: 100%;
		box-sizing: border-box;
		.chartHeader {
			.FlexChild(0,0,0);
			color: @purple500;
			width: 256px;
		}
		.currentHeader {
			.FlexChild(0,1,0);
		}
	}
	.champSpacerContainer {
		width: 100%;
		height: 1px;
		background-color: @grey200; //match champcard background
		position: relative;
		.champSpacer {
			position: absolute;
			left: 16px;
			right: 16px;
			top:0px;
			bottom: 0px;
			background-color: @grey400;
		}
	}
	.champCard {
		padding: 8px;
		// below navbar
		z-index: 0;
		background-color: @grey200;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		.FlexChild();
		
		.Flex();
		&.isMe {
			.name:after {
				content: "(You!)";
				color: @purple500;
				position: absolute;
				margin-left: 8px;
			}
		}
		
		.name {
			// Position absolute at the top of the champ card.  Add 72 px
			// padding to the right so it is centered as if the champ pic was
			// not there
			font-size: 13px;
			font-weight: 600;
			line-height: 16px;
			text-decoration: underline;
			position: absolute;
			// padding-right: 72px;
			// note: padding to account for picture is added in team block above
			text-align: center;
			width: 100%;
			box-sizing: border-box;
		}
		.champPic {
			// can't grow, can't shrink
			.FlexChild(0, 0, 0);
			margin-top: 4px;
			height: 64px;
			width: 64px;
			img {
				height: 100%;
				width: 100%;
			}
		}
		.stats {
			// can grow, can shrink
			margin-top: 16px;
			.FlexChild();
			text-align: center;
			.currentOdds {
				font-size: 28px;
				line-height: 32px;
				
			}
		}
		.bottom {
			// can't grow, can't shrink
			.FlexChild(0,0,0);
			margin-top: 16px;
			overflow: hidden;
			height: 56px;
			position: relative;
			width: 256px;
			.chartContainer {
				// Create a container for the chart that will cut off the left
				// 10 pixels and the bottom 4 pixels while still allowing it to
				// grow and shrink
				position: absolute;
				left: -10px;
				right: 0px;
				top: 0px;
				bottom: -4px;
				.chartMarker {
					height: 100%;
					width: 1px;
					position: absolute;
					top: 0px;
					background-color: rgba(0,0,0,0.5);
				}
			}
			.chart {
				height: 100% !important;
			}
		}
	}
}

#currentGame.notInGame {
	position: relative;
	.notInGameFrame {
		position: absolute;
		left:0;
		right:0;
		top:0;
		padding: 16px;
	}
	.title {
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 8px;
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	.about {
		margin-top: 16px;
	}
	.description {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 8px;
	}
	.imageContainer {
		text-align: center;
		img {
			cursor: pointer;
			height: 100px;
			width: auto;
		}
	}
	.msgbox {
		margin-top: 80px;
		margin-left: auto;
		margin-right: auto;

		max-width :480px;
		background-color: @grey200;
		padding: 16px;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid @grey500;
		.message {

		}
		.buttonRow {
			margin-top: 16px;
			.Flex(space-around);
			.button {
				// can grow, can't shrink, base size of buttons: 48px
				.FlexChild(0, 1, 0, 48px);
				margin: 0px 8px;
				&.checkNow {
					background-color: @green500;
				}
				&.simulateGame {
					background-color: white;
				}
				&.disabled {
					// color: @grey700;
					// font-style: italic;
					text-decoration: line-through;
				}
			}
		}
	}
	
}