@import "colors.less";
@headerHeight: 56px;

#header {
	height: @headerHeight;
	width: 100%;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 16px;
	background-color: @cyan400;
	.logo {
		font-size: 20px;
		font-weight: 600;
		line-height: @headerHeight;
	}
}