@import "colors";
@import "mixins";
#navbar {
	width: 240px;
	box-sizing: border-box;
	background-color: @blueGrey600;
	color: white;
	@media (min-width: 768px) {
		.Flex(flex-start, column);
	}
	@media (max-width: 768px) {
		position:absolute;
		top: 56px;
		bottom: 0px;
		z-index: 50;
	}
	padding-top: 16px;
	overflow: hidden;
	// handle item padding within each item
	.navItem {
		padding-left: 16px;
		padding-right: 8px;
		whitespace: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; //just cuz I think it's neat
		.FlexChild(0, 1, 1);
		font-size: 16px;
		line-height: 47px;		//1px for separator
		max-height: 47px;
		cursor: pointer;
		// bigger click targets
		width: 100%;
		&.active {
			color: @cyan300;
			cursor: default;
			&:hover {
				color: @cyan300;
			}
		}
		&.active:after {
			margin-left: 8px;
			content: "\2022";
		}
		&:hover {
			color: @grey300;
		}
	}
	.navSeparator {
		.FlexChild(0,0,0);
		height: 1px;
		width: 100%;
		background-color: @blueGrey500;
	}
	.zdepth2();

}