<div id="aboutPage">
  <p>LOLScrub is an application to show you what stats REAL League of Legends players care about: winning in 1v1s and getting the Penta's they deserve.</p>
  <p>We serve live minute by minute data; odds for winning a 1v1 for each champion matchup so players can know at what point in the game they should avoid fighting against those cheap, overpowered, easy to play champions, and at what point in the game they should combine favorable odds and s1ck skill to earn themselves a favorable kdr.</p>
  <p>Odds and skills alone, while they account for much, don't take into consideration items so we also provide suggested builds and/or items for each champ matchup.  Items suggestions and 1v1 matchup data are based on historic success at each point in the game, this information is NOT taken from the actual game in process.</p>
  <p>Finally we provide a service to keep your so called "Allies" from Stealking your hard Earned kills.  At each point in the game, we give you the live odds that each of your teammates have from ruining your K/D ratio with a kill steal!</p>
  <p class="spacer"></p>
  <p class="disclaimer">
    LOLScrub isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </p>
</div>