<div id="currentGame">
  <div class="my team">
    {{#each myTeam}}
      <div class="champCard">
        <div class="top">
          <div class="champPic">
            <img src="https://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Aatrox.png"/>
          </div>
          <div class="stats">
            <div class="name">Quickdraw Mclawl</div>
            <div class="currentOdds">68%</div>
            <div class="itemSuggestions">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="chart"></div>
        </div>
      </div>
      {{/each}}
  </div>
  <div class="teamSeparator"></div>
  <div class="enemy team ">{{!ooooo how I hate them}}
    {{#each myTeam}}
      <div class="champCard">
        <div class="top">
          <div class="champPic">
            <img src="https://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Aatrox.png"/>
          </div>
          <div class="stats">
            <div class="name">Quickdraw Mclawl</div>
            <div class="currentOdds">68%</div>
            <div class="itemSuggestions">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="chart"></div>
        </div>
      </div>
      {{/each}}
  </div>
</div>