<div id="header">
  <div class="sidePaneButton" data-action="ohhamburgers">
    <div class="patty"></div>
    <div class="patty"></div>
    <div class="patty"></div>
  </div>
  <div class="logo">LOLScrub</div>
  <div class="userInfo">{{!replaceWith login.hbs}}</div>
</div>