<div id="landingPage">
  <div class="section popout-info" id="landing-banner">
    <div class="container">
        <div class="titleContainer">
            <h1 class="Header center">Welcome to LOLScrub</h1>
        </div>
        <div class="subTitleContainer">
            <h2 class= SubHeader>
                Your premiere source for live, up to the minute Kill odds and everything else needed to acheive true glory in URF against scrubs!
            </h2>
        </div>
        <div class="descriptionContainer">
            <p>
                LOLScrub is designed to give you the information real League of Legends players care about: 1v1s, Kill/Death Ratio, MultiKills, and avoiding those dirty Kill Stealers.</p>
                <p>We have crunched the numbers, so you can mop the floor with your enemies.  Use our live dashboard in-game on your phone tablet or computer to aid your PUB stomping experience.</p>
               <p> To get Started Just hit the button below

            </p>
        </div>
        <div class = "buttonContainer" data-action="entersite">
            <h3 class ="Enter Here">
                Enter Here
            </h3>
        </div>

        <div class="imageContainer">
          <img src="/images/MasterYi.png" alt="some_text">
        </div>
    </div>
  </div>
  <div class="section popout-more" id="landing-banner">
    <div class="container">
      <div class="row center">
        <p> Something Something images of this in action... </p>
        <p> Somtehing Something demo video</p>
        <p> Something Something Coming soon...</p>
      </div>
    </div>
  </div>

  <p class="spacer"></p>
  <p class="disclaimer">
    LOLScrub isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </p>
</div>