<div id="landingPage">
  <div class="landingContainer">
    <div class="section popout-info" id="landing-banner">
      <div class="container">
        <div class="titleContainer">
          <h1 class="Header center">LOLScrub</h1>
        </div>
        <div class="subTitleContainer">
          <h2 class= SubHeader>
            Your premiere source for getting live, minute-by-minute odds to get the kills you deserve in URF
          </h2>
        </div>
        <div class="descriptionContainer">
          <p>
            LOLScrub is designed to give you the information <b>REAL</b> League of Legends players care about: <b>1v1s</b>, <b>KDR</b>, <b>MultiKills</b>, and avoiding those dang dirty <i>Kill Stealers.</i></p>
            <p>We have crunched the numbers, so you can mop the floor with your enemies.  Use our live dashboard in-game on your phone tablet or computer to aid your PUB stomping experience.</p>
            <p> To get started just hit the button below

            </p>
        </div>
        <div class = "buttonContainer" data-action="entersite">
          <h3 class ="Enter Here">
            Show me!
          </h3>
        </div>

        <div class="imageContainer">
          <img src="/images/MasterYi.png" data-action="entersite">
        </div>
      </div>
    </div>
  </div>
</div>